@font-face {
    font-family: "Norse-Bold";
    src: url("Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}


.container {
    display: flex;
    height: 100%;
}

.left {
    flex: 1;
    background-image: url("leafs.jpg");  
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Norse-Bold", sans-serif;
    font-size: 60px;
}


.right {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.right-top {
    flex: 1.25;
    border: 2px solid black;
    background-color:rgb(240, 236, 230);
}

#text-top {
    margin-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5px;
}

#text-bottom {
    padding-left: 10%;
    padding-right: 10%;
}

.right-middle {
    flex: 1;
    border: 2px solid black;
}

.right-middle h1 {
    margin-left: 10%;
}

form {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

form div {
    padding-bottom: 10%;
}

label {
    display: block;
}

.right-bottom {
    flex: 1.25;
    border: 2px solid black;
    background-color:rgb(240, 236, 230);
}

.right-bottom button {
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    background-color:#596D48;
    padding: 15px;
    border-radius: 10px;
}

.right-bottom p {
    margin-left: 10%;
}